/* .social-links {
    display: flex;
    flex-wrap: wrap;
    width: 20px;
    padding: 0;
    height: 100px;
    margin: 0;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.social-links a {
  padding: 5px;
}

.social-links li {
  margin: 0;
} */

.social-links {
  padding: 0;
}
