.hero-banner {
    color: white;
}

.hero-banner h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
}

.hero span.phonetic {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.hero span.phonetic em {
  text-shadow: 0px 0px 9px #f9f9f9;
}

.hero-banner .h2-holder {
  display: flex;
  justify-content: center;
}


.hero-banner h2 {
    padding-left: 10px;
    position: relative;
    width: max-content;
    max-width: 500px;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
}

.alt-color-one::before {
  content: '';
  color: #4ECDC4;
  width: 40px;
  height: 40px;
  position: absolute;
  background: #4ECDC4;
  border-radius: 50%;
  opacity: 0.2;
  top: 0px;
  left: 0px;
  box-shadow: 120px 0px white;
  animation: circle-move 6s;
}

.alt-color-two::before {
  content: '';
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.2;
  top: 0px;
  left: 0px;
  color: white;
  width: 30px;
  height: 30px;
  box-shadow: 120px 0px #e5166D;
  animation: circle-move-two 5s;
}

@keyframes circle-move-two {
  0% {
    top: 50px;
    left: 0px;
    box-shadow: 120px -100px #e5166D;
  }
  100% {
    top: -50px;
    left: 100px;
    box-shadow: 120px 100px #e5166D;

  }
}

@keyframes circle-move {
  0% {
    top: -50px;
    left: 0px;
    box-shadow: 120px 100px white;

  }
  100% {
    top: 50px;
    left: 100px;
    box-shadow: 120px -100px white;

  }
}

.hero-banner h2.toggle-true {
    animation: collapse-expand 3s infinite;
    animation-timing-function: ease;
}

@keyframes collapse-expand {
  0% {
      max-width: 500px;
      padding-right: 10px;
    }
  10% {
    max-width: 500px;
    padding-right: 10px;
  }
  40% {
      padding-right: 10px;
  }
  50% {
      max-width: 0;
      padding-right: 0;
    }
  60% {
      padding-right: 10px;
  }
  90% {
    max-width: 500px;
    padding-right: 10px;
  }
  100% {
      max-width: 500px;
      padding-right: 10px;
  }
}


.hero-banner h2::after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  border: 1px solid white;
  top: 0;
  right: 0;
}


@media only screen and (max-width: 400px) {
  .hero-banner h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .phonetic {
    text-align: center;
  }

  .hero-banner h2 {
    font-size: 1rem;
    margin-top: 2rem;
  }
}